<div class="container-fluid">
    <vertical-timeline>

        <vertical-timeline-card [color]="'#08D198'">
            <h1>Today</h1>
        </vertical-timeline-card>

        <vertical-timeline-card  [color]="'#331111'">
            <h1>Tomorrow</h1>
        </vertical-timeline-card>

        <vertical-timeline-card [color]="'#08D198'">
            <h1>Today</h1>
        </vertical-timeline-card>

        <vertical-timeline-card  [color]="'#331111'">
            <h1>Tomorrow</h1>
        </vertical-timeline-card>

    </vertical-timeline>
</div>