<div class="col-lg-12" style="background-color: #fff; padding: 0;position:relative">
    <div class="pull-left" id="1">
        <ul role="tablist" class="nav nav-tabs justify-content-start" style="padding-left:10px;">
            <li class="nav-item">
                <a class="nav-link active pull-left" href="" role="tab" id="ngb-tab-0" aria-controls="ngb-tab-0-panel" aria-expanded="true"
                    aria-disabled="false" [routerLink]="['/control-board/playbook']">
                    <i class="fa fa-book" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link pull-left" href="" role="tab" id="ngb-tab-1" aria-expanded="false" aria-disabled="false" [routerLink]="['/control-board']">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="pull-left block-colorful-1" style="margin-left: 160px;">
        <img src="assets/images/line-column-up.png" />
        <h4>200 CTAs</h4>
    </div>
    <div class="pull-left block-colorful-2">
        <img src="assets/images/line-column-down.png" />
        <h4>12 Risks</h4>
    </div>
    <div class="pull-left block-colorful-3">
        <img src="assets/images/clock.png" />
        <h4>30 Overdue Actions</h4>
    </div>

</div>
<div class="setting-db-body" style="float: left;background:none;">
    <div class="col-lg-3 padd-left-none">
        <div class="col-lg-12" style=" padding: 15px;background: #01a982;color:#fff">
            Playbook
            <i class="fa fa-plus pull-right" aria-hidden="true"></i>
        </div>
        <div class="col-lg-12" style="background:#fff">
            <div class="search-playbook">
                <input class="search-list" type="text" placeholder="Search...">
            </div>
        </div>
        <div class="col-lg-12 padd-none">
            <div class="dropdown open" dropdown style="width: 100%;">
                <button class="btn btn-drop align-left" dropdown-open>Risk
                    <i class="fa fa-caret-down pull-right" aria-hidden="true" style="padding-top:3px;"></i>
                </button>
                <ul class="dropdown-menu" dropdown-not-closable-zone>
                    <li>
                        <a href="#">45 Day Until Renewal</a>
                    </li>
                    <li>
                        <a href="#">Delay Process</a>
                    </li>
                    <li>
                        <a href="#">Lack of Annual Renewal</a>
                    </li>
                    <li>
                        <a href="#">Stop in Usage</a>
                    </li>
                    <li>
                        <a href="#">Loss of Sponsor</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown open" dropdown style="width: 100%;">
                <button class="btn btn-drop align-left" dropdown-open>Duty Manager
                    <i class="fa fa-caret-down pull-right" aria-hidden="true" style="padding-top:3px;"></i>
                </button>
                <ul class="dropdown-menu" dropdown-not-closable-zone>
                    <li>
                        <a href="#">45 Day Until Renewal</a>
                    </li>
                    <li>
                        <a href="#">Delay Process</a>
                    </li>
                    <li>
                        <a href="#">Lack of Annual Renewal</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown open" dropdown style="width: 100%;">
                <button class="btn btn-drop align-left" dropdown-open>SPARKS
                    <i class="fa fa-caret-down pull-right" aria-hidden="true" style="padding-top:3px;"></i>
                </button>
                <ul class="dropdown-menu" dropdown-not-closable-zone>
                    <li>
                        <a href="#">45 Day Until Renewal</a>
                    </li>
                    <li>
                        <a href="#">Delay Process</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown open" dropdown style="width: 100%;">
                <button class="btn btn-drop align-left" dropdown-open>Onboarding
                    <i class="fa fa-caret-down pull-right" aria-hidden="true" style="padding-top:3px;"></i>
                </button>
                <ul class="dropdown-menu" dropdown-not-closable-zone>
                    <li>
                        <a href="#">45 Day Until Renewal</a>
                    </li>
                    <li>
                        <a href="#">Delay Process</a>
                    </li>
                    <li>
                        <a href="#">Lack of Annual Renewal</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-9 padd-none" style="background:#fff">
        <div class="col-lg-12 top-playbook" style="padding: 15px 15px 7px; color:#909194">
            Onboarding:
            <span style="color:#333">New Customer Procedures</span>
            <div class="pull-right">
                <div class="onoffswitch" style="margin-right: 12px;">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch23" checked>
                    <label class="onoffswitch-label" for="myonoffswitch23">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
                <button>
                    <i class="fa fa-files-o" aria-hidden="true"></i>
                </button>
                <button>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="add-user-button">
                <button type="button">
                    <span>Add CTA</span>
                </button>
            </div>
        </div>
        <div class="col-lg-12" style="padding-bottom: 10px;">
            <div class="bg-grey">
                <div class="col-lg-1 align-center">
                    <h1>1</h1>
                </div>
                <div class="col-lg-8" style="width:69%;font-size:14px;">
                    <h4>Send email to customer to introdure CAM</h4>
                    <span style="padding-right: 35px;">Priority:
                        <span style="color:#01a982">High</span>
                    </span>
                    <span>Due Date:
                        <span style="color:#01a982">Assign Date + 12 days</span>
                    </span>
                </div>
                <div class="col-lg-3" style="width:22%;padding-top: 7px;color: #909194;">
                    <div class="onoffswitch" style="margin-right: 12px;">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch123" checked>
                        <label class="onoffswitch-label" for="myonoffswitch123">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    <button>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-lg-12" style="padding-bottom: 10px;">
            <div class="bg-grey">
                <div class="col-lg-1 align-center">
                    <h1>2</h1>
                </div>
                <div class="col-lg-8" style="width:69%;font-size:14px;">
                    <h4>Send email to customer to introdure CAM</h4>
                    <span style="padding-right: 35px;">Priority:
                        <span style="color:#01a982">High</span>
                    </span>
                    <span>Due Date:
                        <span style="color:#01a982">Assign Date + 12 days</span>
                    </span>
                </div>
                <div class="col-lg-3" style="width:22%;padding-top: 7px;color: #909194;">
                    <div class="onoffswitch" style="margin-right: 12px;">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch232" checked>
                        <label class="onoffswitch-label" for="myonoffswitch232">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    <button>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="padding-bottom: 10px;">
            <div class="bg-grey">
                <div class="col-lg-1 align-center">
                    <h1>3</h1>
                </div>
                <div class="col-lg-8" style="width:69%;font-size:14px;">
                    <h4>Send email to customer to introdure CAM</h4>
                    <span style="padding-right: 35px;">Priority:
                        <span style="color:#01a982">High</span>
                    </span>
                    <span>Due Date:
                        <span style="color:#01a982">Assign Date + 12 days</span>
                    </span>
                </div>
                <div class="col-lg-3" style="width:22%;padding-top: 7px;color: #909194;">
                    <div class="onoffswitch" style="margin-right: 12px;">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch233" checked>
                        <label class="onoffswitch-label" for="myonoffswitch233">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    <button>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="padding-bottom: 10px;">
            <div class="bg-grey">
                <div class="col-lg-1 align-center">
                    <h1>4</h1>
                </div>
                <div class="col-lg-8" style="width:69%;font-size:14px;">
                    <h4>Send email to customer to introdure CAM</h4>
                    <span style="padding-right: 35px;">Priority:
                        <span style="color:#01a982">High</span>
                    </span>
                    <span>Due Date:
                        <span style="color:#01a982">Assign Date + 12 days</span>
                    </span>
                </div>
                <div class="col-lg-3" style="width:22%;padding-top: 7px;color: #909194;">
                    <div class="onoffswitch" style="margin-right: 12px;">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch234" checked>
                        <label class="onoffswitch-label" for="myonoffswitch234">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    <button>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="padding-bottom: 10px;">
            <div class="bg-grey">
                <div class="col-lg-1 align-center">
                    <h1>5</h1>
                </div>
                <div class="col-lg-8" style="width:69%;font-size:14px;">
                    <h4>Send email to customer to introdure CAM</h4>
                    <span style="padding-right: 35px;">Priority:
                        <span style="color:#01a982">High</span>
                    </span>
                    <span>Due Date:
                        <span style="color:#01a982">Assign Date + 12 days</span>
                    </span>
                </div>
                <div class="col-lg-3" style="width:22%;padding-top: 7px;color: #909194;">
                    <div class="onoffswitch" style="margin-right: 12px;">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch235" checked>
                        <label class="onoffswitch-label" for="myonoffswitch235">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    <button>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="padding-bottom: 10px;">
            <div class="bg-grey">
                <div class="col-lg-1 align-center">
                    <h1>6</h1>
                </div>
                <div class="col-lg-8" style="width:69%;font-size:14px;">
                    <h4>Send email to customer to introdure CAM</h4>
                    <span style="padding-right: 35px;">Priority:
                        <span style="color:#01a982">High</span>
                    </span>
                    <span>Due Date:
                        <span style="color:#01a982">Assign Date + 12 days</span>
                    </span>
                </div>
                <div class="col-lg-3" style="width:22%;padding-top: 7px;color: #909194;">
                    <div class="onoffswitch" style="margin-right: 12px;">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch236" checked>
                        <label class="onoffswitch-label" for="myonoffswitch236">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    <button>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>