<div class="setting-db-body" style="float: left">
    <div class="row">
        <div class="col-lg-3">
            <input type="text" class="form-control" placeholder="Enter Dashboard Title">
        </div>
        <div class="" style="padding-right:15px">
            <button type="submit" class="admin-btn  thc-pad-2 thc-btn-icon admin-btn-save">
                Save
            </button>
            <button type="button" class="admin-btn thc-pad-2 thc-btn-icon admin-btn-cancel" (click)="dismiss()">
                Cancel
            </button>
        </div>
    </div>
    <div class="content-db col-lg-9" style="padding: 25px 0;">

        <div class="col-lg-6 block-db padd-right-none" droppable >

        </div>
        <div class="col-lg-6 block-db padd-left-none" droppable >

        </div>

        <div class="col-lg-6 block-db padd-right-none">

        </div>
        <div class="col-lg-6 block-db padd-left-none">

        </div>

        <div class="col-lg-6 block-db padd-right-none">
            
        </div>
        <div class="col-lg-6 block-db padd-left-none">
            
        </div>
    </div>
    <div class="col-lg-3 padd-right-none">
        <div class="right-block">
            <div id="container">
                <input id="tab-1" type="radio" name="tab-group" checked="checked" />
                <label for="tab-1">Gadgets</label>
                <input id="tab-2" type="radio" name="tab-group" />
                <label for="tab-2">Containers</label>
                <div id="content">
                    <div id="content-1">
                        <p draggable>Escalated Status</p>
                        <p draggable>No activity > 3months</p>
                        <p draggable>Reach Rate</p>
                    </div>
                    <div id="content-2">
                        <p>Reach Rate</p>
                        <p>Escalated Status</p>
                        <p>No activity > 3months</p>

                    </div>
                </div>
            </div>
            <!-- <div class="right-bl-body">
                    <div class="col-lg-12">Escalated Status</div>
                    <div class="col-lg-12">No activity > 3months</div>
                    <div class="col-lg-12">Reach Rate</div>
                </div> -->
        </div>
    </div>
</div>