<div class="setting-db-body">
    <div class="row">
        <div class="col-lg-3">
            <select class="form-control">
                <option value="MANAGER View">Giám đốc</option>
                <option value="CAM View">Nhân viên</option>
            </select>
        </div>
        <div class="pull-right" style="padding-right:15px">
            <button class="btn add-btn">Thêm mới bàn làm việc</button>
        </div>
    </div>
    <div class="content-db">
        <div class="col-lg-12 edit-icon">
            <i class="fa fa-pencil pull-right" aria-hidden="true"></i>
        </div>
        <div class="col-lg-6 block-db padd-right-none">
            <div class="col-lg-12 content-block">
                <div class="col-lg-12 background-content">
                    <h4>Khách hàng mức độ nghiêm trọng 1
                        <i class="fa fa-pencil pull-right" aria-hidden="true"></i>
                    </h4>
                    <i class="fa fa-table fa-3x pull-left" aria-hidden="true"></i>
                    <p>Chế độ xem mặc định: Table</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 block-db padd-left-none">
            <div class="col-lg-12 content-block">
                <div class="col-lg-12 background-content">
                    <h4>Khách hàng mức độ nghiêm trọng 1
                        <i class="fa fa-pencil pull-right" aria-hidden="true"></i>
                    </h4>
                    <i class="fa fa-pie-chart fa-3x pull-left" aria-hidden="true"></i>
                    <p>Chế độ xem mặc định: Pie</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 block-db padd-right-none">
            <div class="col-lg-12 content-block">
                <div class="col-lg-12 background-content">
                    <h4>Khách hàng mức độ nghiêm trọng 1
                        <i class="fa fa-pencil pull-right" aria-hidden="true"></i>
                    </h4>
                    <i class="fa fa-area-chart fa-3x pull-left" aria-hidden="true"></i>
                    <p>Chế độ xem mặc định: Area</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 block-db padd-left-none">
            <div class="col-lg-12 content-block">
                <div class="col-lg-12 background-content">
                    <h4>Khách hàng mức độ nghiêm trọng 1
                        <i class="fa fa-pencil pull-right" aria-hidden="true"></i>
                    </h4>
                    <i class="fa fa-bar-chart fa-3x pull-left" aria-hidden="true"></i>
                    <p>Chế độ xem mặc định: Bar</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 block-db padd-right-none">
            <div class="col-lg-12 content-block">
                <div class="col-lg-12 background-content">
                    <h4>Khách hàng mức độ nghiêm trọng 1
                        <i class="fa fa-pencil pull-right" aria-hidden="true"></i>
                    </h4>
                    <i class="fa fa-line-chart fa-3x pull-left" aria-hidden="true"></i>
                    <p>Chế độ xem mặc định: Line</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 block-db padd-left-none">
            <div class="col-lg-12 content-block">
                <div class="col-lg-12 background-content">
                    <h4>Khách hàng mức độ nghiêm trọng 1
                        <i class="fa fa-pencil pull-right" aria-hidden="true"></i>
                    </h4>
                    <i class="fa fa-signal fa-3x pull-left" aria-hidden="true"></i>
                    <p>Chế độ xem mặc định: Column</p>
                </div>
            </div>
        </div>
    </div>
</div>