<div class="setting-db-body" style="float: left">
    <div class="row">
        <div class="col-lg-3">
            <select class="form-control">
                <option value="MANAGER View">Giám đốc</option>
                <option value="CAM View">Nhân viên</option>
            </select>
        </div>
        <div class="pull-right" style="padding-right:15px">
            <button class="btn add-btn">Thêm mới bàn làm việc</button>
        </div>
    </div>
    <div class="content-db col-lg-9 padd-none">
        <div class="col-lg-12 edit-icon">
            <button class="admin-btn thc-pad-2 thc-btn-icon admin-btn-cancel pull-right" type="button">
                <span class="icon fa fa-close"></span>Hủy
            </button>
            <button class="admin-btn  thc-pad-2 thc-btn-icon admin-btn-save pull-right" type="button" style="margin-right:10px;">
                <span class="icon fa fa-check"></span>Cập nhật
            </button>

        </div>
        <div class="col-lg-6 block-db padd-right-none">
            <div class="col-lg-12 content-block">
                <div class="col-lg-12 background-content">
                    <h4>Khách hàng mức độ nghiêm trọng 1
                        <i class="fa fa-times-circle-o pull-right" aria-hidden="true"></i>
                        <i class="fa fa-save pull-right" aria-hidden="true" style="margin-right:10px"></i>
                    </h4>
                    <i class="fa fa-table fa-3x pull-left" aria-hidden="true"></i>
                    <p>Chế độ xem mặc định:
                        <select>
                            <option>&#xf0ce; Table</option>
                            <option>&#xf200; Pie</option>
                            <option>&#xf201; Line</option>
                            <option>&#xf012; Column</option>
                            <option>&#xf080; Bar</option>
                        </select>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 block-db padd-left-none">
            <div class="col-lg-12 content-block">
                <div class="col-lg-12 background-content">
                    <h4>Khách hàng Mức độ nghiêm trọng 1
                        <i class="fa fa-pencil pull-right" aria-hidden="true"></i>
                        <i class="fa fa-trash pull-right" aria-hidden="true" style="margin-right:10px"></i>
                    </h4>
                    <i class="fa fa-pie-chart fa-3x pull-left" aria-hidden="true"></i>
                    <p>Chế độ xem mặc định: Pie</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 block-db padd-right-none">
            <div class="col-lg-12 content-block">
                <div class="col-lg-12 background-content">
                    <h4>Khách hàng Mức độ nghiêm trọng 1
                        <i class="fa fa-pencil pull-right" aria-hidden="true"></i>
                        <i class="fa fa-trash pull-right" aria-hidden="true" style="margin-right:10px"></i>
                    </h4>
                    <i class="fa fa-area-chart fa-3x pull-left" aria-hidden="true"></i>
                    <p>Chế độ xem mặc định: Area</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 block-db padd-left-none">
            <div class="col-lg-12 content-block">
                <div class="col-lg-12 background-content">
                    <h4>Khách hàng Mức độ nghiêm trọng 1
                        <i class="fa fa-pencil pull-right" aria-hidden="true"></i>
                        <i class="fa fa-trash pull-right" aria-hidden="true" style="margin-right:10px"></i>
                    </h4>
                    <i class="fa fa-bar-chart fa-3x pull-left" aria-hidden="true"></i>
                    <p>Chế độ xem mặc định: Bar</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 block-db padd-right-none">
            <div class="col-lg-12 content-block">
                <div class="col-lg-12 background-content">
                    <h4>Khách hàng Mức độ nghiêm trọng 1
                        <i class="fa fa-pencil pull-right" aria-hidden="true"></i>
                        <i class="fa fa-trash pull-right" aria-hidden="true" style="margin-right:10px"></i>
                    </h4>
                    <i class="fa fa-line-chart fa-3x pull-left" aria-hidden="true"></i>
                    <p>Chế độ xem mặc định: Line</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 block-db padd-left-none">
            <div class="col-lg-12 content-block">
                <div class="col-lg-12 background-content">
                    <h4>Khách hàng Mức độ nghiêm trọng 1
                        <i class="fa fa-pencil pull-right" aria-hidden="true"></i>
                        <i class="fa fa-trash pull-right" aria-hidden="true" style="margin-right:10px"></i>
                    </h4>
                    <i class="fa fa-signal fa-3x pull-left" aria-hidden="true"></i>
                    <p>Chế độ xem mặc định: Column</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 padd-right-none">
        <div class="right-block">
            <div id="container">
                <input id="tab-1" type="radio" name="tab-group" checked="checked" />
                <label for="tab-1">Dụng cụ</label>
                <input id="tab-2" type="radio" name="tab-group" />
                <label for="tab-2">Hộp đựng</label>
                <div id="content">
                    <div id="content-1">
                        <p>Trạng thái mức độ</p>
                        <p>Không hoạt động > 3 tháng</p>
                        <p>Tỷ lệ tiếp cận</p>
                    </div>
                    <div id="content-2">
                        <p>Tỷ lệ tiếp cận</p>
                        <p>Trạng thái mức độ</p>
                        <p>Không hoạt động > 3 tháng</p>

                    </div>
                </div>
            </div>
            <!-- <div class="right-bl-body">
                <div class="col-lg-12">Escalated Status</div>
                <div class="col-lg-12">No activity > 3months</div>
                <div class="col-lg-12">Reach Rate</div>
            </div> -->
        </div>
    </div>
</div>