<div class="container-fluid">
    <div class='panel thc-panel thc-panel-primary clearfix' *ngIf='comment'>
        <div class='panel-heading' style='font-size:large'>
            Xem chi tiêt: {{comment.content}}
        </div>
        <div class='panel-body'>
            <div class='row'>
                <div class='col-md-6'>
                    <div class='row'>
                        <div class='col-md-3'>Tên:</div>
                        <div class='col-md-6'>{{comment.content}}</div>
                    </div>
                    <div class='row'>
                        <div class='col-md-3'>Khách hàng:</div>
                        <div class='col-md-6'>{{comment.adminLastName}}</div>
                    </div>
                    <div class='row'>
                        <div class='col-md-3'>Trạng thái:</div>
                        <div class='col-md-6'>{{comment.activeName}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> {{'Common.Back' | translate}}
        </a>
    </div>
</div>