<div class="col-lg-12" style="background-color: #fff; padding: 0;position:relative">
  <div class="pull-left title-dash" id="1">
    Giám đốc
  </div>
  <div class="pull-left shared-view">
    <span>Góc nhìn
      <i class="fa fa-caret-down" aria-hidden="true" style="padding-left:5px;"></i>
    </span>
    <ul class="dash-ul">
      <li>Giám đốc</li>
      <li>
        <a [routerLink]="['/employees']">Nhân viên</a>
      </li>
    </ul>
  </div>
  <div class="pull-right" style="padding: 15px 15px 0 0;">
    <a [routerLink]="['/setting']">
      <i class="fa fa-cog" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div class="notification col-lg-4 padd-none">
  <div id="cover-noti">
    <span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>×</span>
    <div class="noti-head">
      <h4>Thông báo
      </h4>
    </div>
    <div class="noti-body" id="style-1">
      <div class="noti-new">
        <div class="col-lg-2 padd-right-none">
          <img src="assets/images/user_demo.png" alt="" />
        </div>
        <div class="col-lg-10 padd-none noti-content">
          John Smith đã giao CTAs cho bạn
        </div>
        <div class="col-lg-10 padd-none">
          <i class="fa fa-list-ul pull-left" aria-hidden="true"></i>
          <a class="pull-left">Lorem Ipsum is simply dummy</a>
          <p class="pull-right">3:00 pm Hôm nay</p>
        </div>
      </div>
      <div class="noti-new">
        <div class="col-lg-2 padd-right-none">
          <img src="assets/images/user_demo.png" alt="" />
        </div>
        <div class="col-lg-10 padd-none noti-content">
          John Smith đã giao CTAs cho bạn
        </div>
        <div class="col-lg-10 padd-none">
          <i class="fa fa-check pull-left" aria-hidden="true"></i>
          <a class="pull-left">Lorem Ipsum is simply dummy</a>
          <p class="pull-right">12:00 pm Hôm qua</p>
        </div>
      </div>
      <div class="noti-new">
        <div class="col-lg-2 padd-right-none">
          <img src="assets/images/user_demo.png" alt="" />
        </div>
        <div class="col-lg-10 padd-none noti-content">
          John Smith đã giao CTAs cho bạn
        </div>
        <div class="col-lg-10 padd-none">
          <i class="fa fa-users pull-left" aria-hidden="true"></i>
          <a class="pull-left">Lorem Ipsum is simply dummy</a>
          <p class="pull-right">3:00 pm Hôm nay</p>
        </div>
      </div>
      <div class="noti-new">
        <div class="col-lg-2 padd-right-none">
          <img src="assets/images/user_demo.png" alt="" />
        </div>
        <div class="col-lg-10 padd-none noti-content">
          John Smith đã giao CTAs cho bạn
        </div>
        <div class="col-lg-10 padd-none">
          <i class="fa fa-commenting pull-left" aria-hidden="true"></i>
          <a class="pull-left">Lorem Ipsum is simply dummy</a>
          <p class="pull-right">3:00 pm Hôm nay</p>
        </div>
      </div>
      <div class="noti-new">
        <div class="col-lg-2 padd-right-none">
          <img src="assets/images/user_demo.png" alt="" />
        </div>
        <div class="col-lg-10 padd-none noti-content">
          John Smith đã giao CTAs cho bạn
        </div>
        <div class="col-lg-10 padd-none">
          <i class="fa fa-commenting pull-left" aria-hidden="true"></i>
          <a class="pull-left">Lorem Ipsum is simply dummy</a>
          <p class="pull-right">3:00 pm Hôm nay</p>
        </div>
      </div>
      <div class="noti-new">
        <div class="col-lg-2 padd-right-none">
          <img src="assets/images/user_demo.png" alt="" />
        </div>
        <div class="col-lg-10 padd-none noti-content">
          John Smith đã giao CTAs cho bạn
        </div>
        <div class="col-lg-10 padd-none">
          <i class="fa fa-commenting pull-left" aria-hidden="true"></i>
          <a class="pull-left">Lorem Ipsum is simply dummy</a>
          <p class="pull-right">3:00 pm Hôm nay</p>
        </div>
      </div>
      <div class="noti-new">
        <div class="col-lg-2 padd-right-none">
          <img src="assets/images/user_demo.png" alt="" />
        </div>
        <div class="col-lg-10 padd-none noti-content">
          John Smith đã giao CTAs cho bạn
        </div>
        <div class="col-lg-10 padd-none">
          <i class="fa fa-commenting pull-left" aria-hidden="true"></i>
          <a class="pull-left">Lorem Ipsum is simply dummy...</a>
          <p class="pull-right">3:00 pm Hôm nay</p>
        </div>
      </div>
      <div class="noti-new">
        <div class="col-lg-2 padd-right-none">
          <img src="assets/images/user_demo.png" alt="" />
        </div>
        <div class="col-lg-10 padd-none noti-content">
          John Smith đã giao CTAs cho bạn
        </div>
        <div class="col-lg-10 padd-none">
          <i class="fa fa-users pull-left" aria-hidden="true"></i>
          <a class="pull-left">Lorem Ipsum is simply dummy</a>
          <p class="pull-right">3:00 pm Hôm nay</p>
        </div>
      </div>
      <div class="noti-new">
        <div class="col-lg-2 padd-right-none">
          <img src="assets/images/user_demo.png" alt="" />
        </div>
        <div class="col-lg-10 padd-none noti-content">
          John Smith đã giao CTAs cho bạn
        </div>
        <div class="col-lg-10 padd-none">
          <i class="fa fa-users pull-left" aria-hidden="true"></i>
          <a class="pull-left">Lorem Ipsum is simply dummy</a>
          <p class="pull-right">3:00 pm Hôm nay</p>
        </div>
      </div>
      <div class="noti-new">
        <div class="col-lg-2 padd-right-none">
          <img src="assets/images/user_demo.png" alt="" />
        </div>
        <div class="col-lg-10 padd-none noti-content">
          John Smith đã giao CTAs cho bạn
        </div>
        <div class="col-lg-10 padd-none">
          <i class="fa fa-users pull-left" aria-hidden="true"></i>
          <a class="pull-left">Lorem Ipsum is simply dummy</a>
          <p class="pull-right">3:00 pm Hôm nay</p>
        </div>
      </div>
    </div>
    <div class="noti-foot">
      <h4>Hiển thị ít hơn</h4>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6" style="padding: 15px 5px 5px 0;">
      <div class="thc-chart-bl">
        <div class="col-lg-6" style="height: 58px;">
          <h4>Khách hàng mới</h4>
        </div>
        <div class="pull-right col-lg-1" style="padding-top: 17px;">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
        <ngb-tabset activeId="c6">
          <ngb-tab id="c1">
            <ng-template ngbTabTitle>
              <i class="fa fa-line-chart" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div class="thc-table-offset">
                <div class='table-responsive thc-table-border-wrapper'>
                  <div class="row">
                    <div class="col-md-6">
                      <div style="display: block;">
                        <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
                      </div>
                    </div>
                    <div class="col-md-6" style="margin-bottom: 10px">
                      <table class="table table-responsive table-condensed">
                        <tr>
                          <th *ngFor="let label of lineChartLabels">{{label}}</th>
                        </tr>
                        <tr *ngFor="let d of lineChartData">
                          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                        </tr>
                      </table>
                      <button class="btn btn-save" type="submit" (click)="randomizeLineChart()">
                        <i aria-hidden="true" class="fa fa-floppy-o mar-right-bt"></i>Nhấp chuột</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-11 thc-export-footer">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- Bar Chart -->
          <ngb-tab id="c2">
            <ng-template ngbTabTitle>
              <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div class="thc-table-offset">
                <div class='table-responsive thc-table-border-wrapper'>
                  <div>
                    <div style="display: block">
                      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                        [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                    <button class="btn btn-save" type="submit" (click)="randomizeBarChart()">
                      <i aria-hidden="true" class="fa fa-floppy-o mar-right-bt"></i>Nhấp chuột</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-11 thc-export-footer">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- Doughnut Chart -->
          <ngb-tab id="c3">
            <ng-template ngbTabTitle>
              <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div style="display: block">
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [colors]="doughnutColors" [chartType]="doughnutChartType"
                  (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
              </div>
              <div class="col-lg-11 thc-export-footer">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- Radar Chart -->
          <ngb-tab id="c4">
            <ng-template ngbTabTitle>
              <i class="fa fa-podcast" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div style="display: block">
                <canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
              <div class="col-lg-11 thc-export-footer">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- Pie Chart -->
          <ngb-tab id="c5">
            <ng-template ngbTabTitle>
              <i class="fa fa-pie-chart" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div style="display: block">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
              <div class="col-lg-11 thc-export-footer">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
              </div>
            </ng-template>
          </ngb-tab>
          <!-- Polar Area Chart -->

          <ngb-tab id="c6">
            <ng-template ngbTabTitle>
              <i class="fa fa-th" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div class="table-responsive">
                <div class="table-color">
                  <table class="table th-table thc-table table-striped">
                    <thead>
                      <tr>
                        <th>Khách hàng</th>
                        <th>Giá trị hợp đồng</th>
                        <th>CAM</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>Evonik Service</td>
                        <td>$ 80,000</td>
                        <td>High Risk</td>

                      </tr>
                      <tr>
                        <td>METRO DE MADRID, S.A</td>
                        <td>$ 79,000</td>
                        <td>High Risk</td>

                      </tr>
                      <tr>
                        <td>Synetic</td>
                        <td>$ 60,000</td>
                        <td>High Risk</td>

                      </tr>
                      <tr>
                        <td>Walmart Stores</td>
                        <td>$ 11,0000</td>
                        <td>Medium Risk</td>

                      </tr>
                      <tr>
                        <td>Walmart Stores</td>
                        <td>$ 11,0000</td>
                        <td>Medium Risk</td>

                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>


              <div class="col-lg-11 thc-export-footer">
                <div class="col-lg-5 padd-none">
                  <i class="fa fa-cloud-download" aria-hidden="true"></i>
                  <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
                </div>
                <div class="col-lg-7 padd-none">

                  <nav aria-label="Page navigation example">
                    <div class="pull-left">
                      <div class="p">View</div>
                      <select class="select-pagination">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                      <div class="p" style="padding-left: 4px;">of 45</div>
                    </div>
                    <ul class="pagination pagination-sm">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">1</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">2</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">3</a>
                      </li>

                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>

    <div class="col-lg-6" style="padding: 15px 5px 5px 0;">
      <div class="thc-chart-bl">
        <div class="col-lg-6" style="height: 58px;">
          <h4>Khách hàng có dấu hiệu xấu</h4>
        </div>
        <div class="pull-right col-lg-1" style="padding-top: 17px;">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
        <ngb-tabset activeId="t5">
          <ngb-tab id="t1">
            <ng-template ngbTabTitle>
              <i class="fa fa-line-chart" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div class="thc-table-offset">
                <div class='table-responsive thc-table-border-wrapper'>
                  <div class="row">
                    <div class="col-md-6">
                      <div style="display: block;">
                        <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
                      </div>
                    </div>
                    <div class="col-md-6" style="margin-bottom: 10px">
                      <table class="table table-responsive table-condensed">
                        <tr>
                          <th *ngFor="let label of lineChartLabels">{{label}}</th>
                        </tr>
                        <tr *ngFor="let d of lineChartData">
                          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                        </tr>
                      </table>
                      <button class="btn btn-save" type="submit" (click)="randomizeLineChart()">
                        <i aria-hidden="true" class="fa fa-floppy-o mar-right-bt"></i>Nhấp chuột</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-11 thc-export-footer">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- Bar Chart -->
          <ngb-tab id="t2">
            <ng-template ngbTabTitle>
              <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div class="thc-table-offset">
                <div class='table-responsive thc-table-border-wrapper'>
                  <div>
                    <div style="display: block">
                      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                        [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                    <button class="btn btn-save" type="submit" (click)="randomizeBarChart()">
                      <i aria-hidden="true" class="fa fa-floppy-o mar-right-bt"></i>Nhấp chuột</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-11 thc-export-footer">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- Doughnut Chart -->
          <ngb-tab id="t3">
            <ng-template ngbTabTitle>
              <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div style="display: block">
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [colors]="doughnutColors" [chartType]="doughnutChartType"
                  (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
              </div>
              <div class="col-lg-11 thc-export-footer">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- Radar Chart -->
          <ngb-tab id="t4">
            <ng-template ngbTabTitle>
              <i class="fa fa-podcast" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div style="display: block">
                <canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
              <div class="col-lg-11 thc-export-footer">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- Pie Chart -->
          <ngb-tab id="t5">
            <ng-template ngbTabTitle>
              <i class="fa fa-pie-chart" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div style="display: block">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
              <div class="col-lg-11 thc-export-footer">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
              </div>
            </ng-template>
          </ngb-tab>
          <!-- Polar Area Chart -->
          <ngb-tab id="t6">
            <ng-template ngbTabTitle>
              <i class="fa fa-th" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div class="table-responsive">

                <div class="table-color">
                  <table class="table th-table thc-table table-striped">
                    <thead>
                      <tr>
                        <th>Khách hàng</th>
                        <th>Giá trị hợp đồng</th>
                        <th>CAM</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>Evonik Service</td>
                        <td>$ 80,000</td>
                        <td>High Risk</td>

                      </tr>
                      <tr>
                        <td>METRO DE MADRID, S.A</td>
                        <td>$ 79,000</td>
                        <td>High Risk</td>

                      </tr>
                      <tr>
                        <td>Synetic</td>
                        <td>$ 60,000</td>
                        <td>High Risk</td>

                      </tr>
                      <tr>
                        <td>Walmart Stores</td>
                        <td>$ 11,0000</td>
                        <td>Medium Risk</td>

                      </tr>
                      <tr>
                        <td>Walmart Stores</td>
                        <td>$ 11,0000</td>
                        <td>Medium Risk</td>

                      </tr>

                    </tbody>
                  </table>

                </div>
              </div>


              <div class="col-lg-11 thc-export-footer">
                <div class="col-lg-5 padd-none">
                  <i class="fa fa-cloud-download" aria-hidden="true"></i>
                  <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
                </div>
                <div class="col-lg-7 padd-none">

                  <nav aria-label="Page navigation example">
                    <div class="pull-left">
                      <div class="p">View</div>
                      <select class="select-pagination">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                      <div class="p" style="padding-left: 4px;">of 45</div>
                    </div>
                    <ul class="pagination pagination-sm">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">1</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">2</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">3</a>
                      </li>

                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>

    <div class="col-lg-6" style="padding: 5px 5px 5px 0;">
      <div class="thc-chart-bl">
        <div class="col-lg-6" style="height: 58px;">
          <h4>Khách hàng không tương tác > 3 tháng</h4>
        </div>
        <div class="pull-right col-lg-1" style="padding-top: 17px;">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
        <ngb-tabset activeId="d2">
          <ngb-tab id="d1">
            <ng-template ngbTabTitle>
              <i class="fa fa-line-chart" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div class="thc-table-offset">
                <div class='table-responsive thc-table-border-wrapper'>
                  <div class="row">
                    <div class="col-md-6">
                      <div style="display: block;">
                        <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
                      </div>
                    </div>
                    <div class="col-md-6" style="margin-bottom: 10px">
                      <table class="table table-responsive table-condensed">
                        <tr>
                          <th *ngFor="let label of lineChartLabels">{{label}}</th>
                        </tr>
                        <tr *ngFor="let d of lineChartData">
                          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                        </tr>
                      </table>
                      <button class="btn btn-save" type="submit" (click)="randomizeLineChart()">
                        <i aria-hidden="true" class="fa fa-floppy-o mar-right-bt"></i>Nhấp chuột</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-11 thc-export-footer">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- Bar Chart -->
          <ngb-tab id="d2">
            <ng-template ngbTabTitle>
              <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div class="thc-table-offset">
                <div class='table-responsive thc-table-border-wrapper'>
                  <div>
                    <div style="display: block">
                      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                        [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                    <button class="btn btn-save" type="submit" (click)="randomizeBarChart()">
                      <i aria-hidden="true" class="fa fa-floppy-o mar-right-bt"></i>Nhấp chuột</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-11 thc-export-footer">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- Doughnut Chart -->
          <ngb-tab id="d3">
            <ng-template ngbTabTitle>
              <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div style="display: block">
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [colors]="doughnutColors" [chartType]="doughnutChartType"
                  (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
              </div>
              <div class="col-lg-11 thc-export-footer">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- Radar Chart -->
          <ngb-tab id="d4">
            <ng-template ngbTabTitle>
              <i class="fa fa-podcast" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div style="display: block">
                <canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
              <div class="col-lg-11 thc-export-footer">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- Pie Chart -->
          <ngb-tab id="d5">
            <ng-template ngbTabTitle>
              <i class="fa fa-pie-chart" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div style="display: block">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
              <div class="col-lg-11 thc-export-footer">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
              </div>
            </ng-template>
          </ngb-tab>
          <!-- Polar Area Chart -->
          <ngb-tab id="d6">
            <ng-template ngbTabTitle>
              <i class="fa fa-th" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div class="table-responsive">

                <div class="table-color">
                  <table class="table th-table thc-table table-striped">
                    <thead>
                      <tr>
                        <th>Khách hàng</th>
                        <th>Giá trị hợp đồng</th>
                        <th>CAM</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>Evonik Service</td>
                        <td>$ 80,000</td>
                        <td>High Risk</td>

                      </tr>
                      <tr>
                        <td>METRO DE MADRID, S.A</td>
                        <td>$ 79,000</td>
                        <td>High Risk</td>

                      </tr>
                      <tr>
                        <td>Synetic</td>
                        <td>$ 60,000</td>
                        <td>High Risk</td>

                      </tr>
                      <tr>
                        <td>Walmart Stores</td>
                        <td>$ 11,0000</td>
                        <td>Medium Risk</td>

                      </tr>
                      <tr>
                        <td>Walmart Stores</td>
                        <td>$ 11,0000</td>
                        <td>Medium Risk</td>

                      </tr>

                    </tbody>
                  </table>

                </div>
              </div>


              <div class="col-lg-11 thc-export-footer">
                <div class="col-lg-5 padd-none">
                  <i class="fa fa-cloud-download" aria-hidden="true"></i>
                  <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
                </div>
                <div class="col-lg-7 padd-none">

                  <nav aria-label="Page navigation example">
                    <div class="pull-left">
                      <div class="p">View</div>
                      <select class="select-pagination">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                      <div class="p" style="padding-left: 4px;">of 45</div>
                    </div>
                    <ul class="pagination pagination-sm">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">1</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">2</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">3</a>
                      </li>

                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>

    <div class="col-lg-6" style="padding: 5px 5px 5px 0;">
      <div class="thc-chart-bl">
        <div class="col-lg-6" style="height: 58px;">
          <h4>Tỷ lệ chuyển đổi giao dịch</h4>
        </div>
        <div class="pull-right col-lg-1" style="padding-top: 17px;">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
        <ngb-tabset activeId="a1">
          <ngb-tab id="a1">
            <ng-template ngbTabTitle>
              <i class="fa fa-line-chart" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div class="thc-table-offset">
                <div class='table-responsive thc-table-border-wrapper'>
                  <div class="row">
                    <div class="col-md-6">
                      <div style="display: block;">
                        <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
                      </div>
                    </div>
                    <div class="col-md-6" style="margin-bottom: 10px">
                      <table class="table table-responsive table-condensed">
                        <tr>
                          <th *ngFor="let label of lineChartLabels">{{label}}</th>
                        </tr>
                        <tr *ngFor="let d of lineChartData">
                          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                        </tr>
                      </table>
                      <button class="btn btn-save" type="submit" (click)="randomizeLineChart()">
                        <i aria-hidden="true" class="fa fa-floppy-o mar-right-bt"></i>Nhấp chuột</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-11 thc-export-footer">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- Bar Chart -->
          <ngb-tab id="a2">
            <ng-template ngbTabTitle>
              <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div class="thc-table-offset">
                <div class='table-responsive thc-table-border-wrapper'>
                  <div>
                    <div style="display: block">
                      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                        [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                    <button class="btn btn-save" type="submit" (click)="randomizeBarChart()">
                      <i aria-hidden="true" class="fa fa-floppy-o mar-right-bt"></i>Nhấp chuột</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-11 thc-export-footer">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- Doughnut Chart -->
          <ngb-tab id="a3">
            <ng-template ngbTabTitle>
              <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div style="display: block">
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [colors]="doughnutColors" [chartType]="doughnutChartType"
                  (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
              </div>
              <div class="col-lg-11 thc-export-footer">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- Radar Chart -->
          <ngb-tab id="a4">
            <ng-template ngbTabTitle>
              <i class="fa fa-podcast" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div style="display: block">
                <canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
              <div class="col-lg-11 thc-export-footer">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- Pie Chart -->
          <ngb-tab id="a5">
            <ng-template ngbTabTitle>
              <i class="fa fa-pie-chart" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div style="display: block">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
              <div class="col-lg-11 thc-export-footer">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
              </div>
            </ng-template>
          </ngb-tab>
          <!-- Polar Area Chart -->
          <ngb-tab id="a6">
            <ng-template ngbTabTitle>
              <i class="fa fa-th" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- Filter the Banks -->
              <div class="table-responsive">

                <div class="table-color">
                  <table class="table th-table thc-table table-striped">
                    <thead>
                      <tr>
                        <th>Khách hàng</th>
                        <th>Giá trị hợp đồng</th>
                        <th>CAM</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>Evonik Service</td>
                        <td>$ 80,000</td>
                        <td>High Risk</td>

                      </tr>
                      <tr>
                        <td>METRO DE MADRID, S.A</td>
                        <td>$ 79,000</td>
                        <td>High Risk</td>

                      </tr>
                      <tr>
                        <td>Synetic</td>
                        <td>$ 60,000</td>
                        <td>High Risk</td>

                      </tr>
                      <tr>
                        <td>Walmart Stores</td>
                        <td>$ 11,0000</td>
                        <td>Medium Risk</td>

                      </tr>
                      <tr>
                        <td>Walmart Stores</td>
                        <td>$ 11,0000</td>
                        <td>Medium Risk</td>

                      </tr>

                    </tbody>
                  </table>

                </div>
              </div>


              <div class="col-lg-11 thc-export-footer">
                <div class="col-lg-5 padd-none">
                  <i class="fa fa-cloud-download" aria-hidden="true"></i>
                  <a class="thc-export" href="#"> Xuất dưới dạng hình ảnh</a>
                </div>
                <div class="col-lg-7 padd-none">

                  <nav aria-label="Page navigation example">
                    <div class="pull-left">
                      <div class="p">View</div>
                      <select class="select-pagination">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                      <div class="p" style="padding-left: 4px;">of 45</div>
                    </div>
                    <ul class="pagination pagination-sm">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">1</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">2</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">3</a>
                      </li>

                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>