<form #f="ngForm" name="adminForm" (ngSubmit)="close(f.form)" novalidate>
    <div class="modal-header">
        <h4 class="modal-title">{{this.context.dataMessage}}</h4>
    </div>
    <div class="modal-body clearfix small-scroll-bar">
        <div class="col-md-12">
            <div class="modal-main-content">
                <div class="modal-main-content-body">

                    <div class="form-group">
                        <label class="control-label">Tên:</label>
                        <input type="text" name="firstName" #firstName="ngModel" class="form-control" [(ngModel)]="admin.firstName" required />
                        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger ">
                            <div *ngIf="firstName.errors.required">
                                Tên là bắt buộc.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Họ:</label>
                        <input type="text" name="lastName" #lastName="ngModel" class="form-control" [(ngModel)]="admin.lastName" required />
                        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger ">
                            <div *ngIf="lastName.errors.required">
                                Họ là bắt buộc.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Email:</label>
                        <input type="text" name="email" #email="ngModel" class="form-control" [(ngModel)]="admin.email" required />
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger ">
                            <div *ngIf="email.errors.required">
                                Email là bắt buộc.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Mã nhân viên:</label>
                        <input type="text" name="employeeId" #employeeId="ngModel" class="form-control" [(ngModel)]="admin.employeeId" required />
                        <div *ngIf="employeeId.invalid && (employeeId.dirty || employeeId.touched)" class="alert alert-danger ">
                            <div *ngIf="employeeId.errors.required">
                                Mã nhân viên là bắt buộc.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Mật khẩu:</label>
                        <input type="password" name="password" #password="ngModel" class="form-control" [(ngModel)]="admin.password" required />
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger ">
                            <div *ngIf="password.errors.required">
                                Mật khẩu là bắt buộc
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Trạng thái: </label>
                        <select class="form-control" name="status" #status="ngModel" [(ngModel)]="admin.status" required>
                            <option value="" disabled="disabled">Chọn</option>
                            <option [value]="item.key" *ngFor="let item of listStatus">{{item.value}}</option>
                        </select>
                        <div *ngIf="status.invalid && (status.dirty || status.touched)" class="alert alert-danger ">
                            <div *ngIf="status.errors.required">
                                Trạng thái là bắt buộc.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-bottom-btn align-right">
        <button type="submit" class="admin-btn  thc-pad-2 thc-btn-icon admin-btn-save">
            <span class="icon fa fa-check"></span>Hoàn tất
        </button>
        <button type="button" class="admin-btn thc-pad-2 thc-btn-icon admin-btn-cancel" (click)="dismiss()">
            <span class="icon fa fa-close"></span>Hủy bỏ
        </button>
    </div>
</form>