<div class="container-fluid">
        <div class='panel thc-panel thc-panel-primary clearfix' *ngIf='region'>
            <div class='panel-heading' style='font-size:large'>
                Xem chi tiêt: {{region.name}}
            </div>
            <div class='panel-body'>
                <div class='row'>
                    <div class='col-md-6'>
                        <div class='row'>
                            <div class='col-md-3'>Tên khu vực:</div>
                            <div class='col-md-6'>{{region.name}}</div>
                        </div>
                        <div class='row'>
                            <div class='col-md-3'>Trạng thái:</div>
                            <div class='col-md-6'>{{region.activeName}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class='panel-footer'>
            <a class='btn btn-default' (click)='onBack()' style='width:80px'>
                <i class='glyphicon glyphicon-chevron-left'></i> {{'Common.Back' | translate}}
            </a>
        </div>
    </div>