/*Font
================================================*/
$primaryLightFont: "SFUIDisplay-Light", sans-serif;
$primaryRegularFont: "SFUIDisplay-Regular", sans-serif;
$primaryBoldFont: "SFUIDisplay-Bold", sans-serif;
$primaryMediumFont: "SFUIDisplay-Medium", sans-serif;
$primarySemiBoldFont: "SFUIDisplay-SemiBold", sans-serif;

/*Animation
================================================*/
$slow: all 0.5s ease-in-out;
$fast: all 0.3s ease-in-out;

/*Color
================================================*/
$mainColor-01: #1aa094;
$mainColor-02: #d58430;
$grey-01: #393a3c;
$grey-02: #3a3a3a;
$grey-03: #d7d9dd;
//$linkColor:

$white: #fff;
$black: #000;

$dangerColor: #f44d4d;


/*Fonts
================================================*/





