@import './_variables.scss';

.dropdown {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
  }

  .dropdown ul {
    margin: -1px 0 0 0;
  }

  .dropdown .mutliSelect {
    position: relative;
  }

  .dropdown a,
  .dropdown a:visited {
    color: #fff;
    text-decoration: none;
    outline: none;
    font-size: 12px;
  }

  .dropdown dt a {
    background-color: #4F6877;
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    width: 272px;
  }

  .dropdown dt a span,
  .multiSel span {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
  }

  .dropdown .mutliSelect ul {
    background-color: #4F6877;
    border: 0;
    color: #fff;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 2px;
    width: 280px;
    list-style: none;
    height: 100px;
    overflow: auto;
  }

  .dropdown span.value {
    display: none;
  }

  .dropdown .mutliSelect ul li a {
    padding: 5px;
    display: block;
  }

  .dropdown .mutliSelect ul li a:hover {
    background-color: #fff;
  }
.thc-width-mini{
 width: 45px !important;
}
.icon{
  cursor: pointer ;
}